<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recommend.mapper.CourseMapper">

    <delete id="deleteStudentCourse">
        delete
        from student_course
        where student_id = #{studentId}
          and course_id = #{courseId}
    </delete>

    <insert id="setStudentCourse">
        insert into student_course(student_id, course_id)
        values (#{studentId}, #{courseId})
    </insert>

    <select id="findPage" resultType="com.recommend.entity.Course">
        select course.*, sys_user.nickname as teacher from course
        left join sys_user
        on course.teacher_id = sys_user.id
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name},'%')
            </if>
        </where>
    </select>

    <select id="indexCourse" resultType="com.recommend.entity.Course">
        select *
        from course c
        <where>
            <foreach collection="typeList" item="id" open="c.type in (" separator="," close=")">
                #{id}
            </foreach>
        </where>
        order by c.participants_number * 1 desc
        limit 12
    </select>

</mapper>
