<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recommend.mapper.CourseMapper">
    <delete id="deleteStudentCourse">
        delete
        from student_course
        where student_id = #{studentId}
          and course_id = #{courseId}
    </delete>

    <insert id="setStudentCourse">
        insert into student_course(student_id, course_id)
        values (#{studentId}, #{courseId})
    </insert>

    <select id="findPage" resultType="com.recommend.entity.Course">
        select course.*, sys_user.nickname as teacher from course
        left join sys_user
        on course.teacher_id = sys_user.id
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name},'%')
            </if>
        </where>
    </select>

    <select id="indexCourse" resultType="com.recommend.entity.Course">
        select *
        from course c
        <where>
        1=1
            and
            <if test="typeList != null">
                <foreach collection="typeList" item="id" open="c.type in (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="courseIds != null">
            and
                <foreach collection="courseIds" item="id" open="c.id not in (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        order by c.participants_number * 1 desc
        limit 12
    </select>

    <select id="userNumber" resultType="java.lang.Long">
        select count(num)
        from (select count(1) as num
              from student_course
              group by student_id) t
    </select>

    <select id="courseNumber" resultType="java.lang.Long">
        select count(1)
        from course
    </select>

    <select id="teacherNumber" resultType="java.lang.Long">
        select count(num)
        from (select count(1) as num
              from course
              group by instructor) t
    </select>

    <select id="schoolNumber" resultType="java.lang.Long">
        select count(num)
        from (select count(1) as num
              from course
              group by school) t
    </select>

    <select id="topCourseList" resultType="com.recommend.entity.analysis.HotAnalysis">
        select *
        from hot_analysis c
        <where>
            <if test="typeList != null">
                <foreach collection="typeList" item="id" open="c.type in (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        order by name_num desc
        limit 10
    </select>

    <select id="topSchoolList" resultType="com.recommend.entity.analysis.HotAnalysis">
        select school,sum(school_num) as school_num
        from hot_analysis
        group by school
        order by school_num desc
        limit 10
    </select>

    <select id="totalAnalysis" resultType="com.recommend.entity.analysis.TotalAnalysis">
        select * from total_analysis limit 1
    </select>
    <select id="totalAnalysis2" resultType="com.recommend.entity.analysis.TotalAnalysis2">
        select * from total_analysis2
    </select>
    <select id="topNameList" resultType="com.recommend.entity.analysis.HotAnalysis">
        select name ,sum(name_num) as name_num from hot_analysis group by name order by name_num desc limit 50
    </select>
    <select id="hotCourseZb" resultType="com.recommend.entity.analysis.ChartModel">
        select school as name ,sum(school_cnt) as value
        from school_cnt_analysis c
        <where>
            <if test="typeList != null">
                <foreach collection="typeList" item="id" open="c.school in (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        group by school
        order by value desc
    </select>
    <select id="hotTypeZb" resultType="com.recommend.entity.analysis.ChartModel">
        select type as name ,sum(type_cnt) as value
        from type_cnt_analysis c
        <where>
            <if test="typeList != null">
                <foreach collection="typeList" item="id" open="c.type in (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        group by type
        order by value desc limit 10
    </select>
    <select id="yearData" resultType="com.recommend.entity.analysis.YearMonthAnalysis">
        select year+'-'+ymonth ,name,name_pns ,instructor ,instructor_pns ,school ,school_pns
        from year_month_analysis c
        where year+ymonth &lt; year(now())+month(now())
        order by year desc, ymonth desc limit 12
    </select>
</mapper>
